body {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background: #f3f8fe;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-shadov {
  width: 511px;
  height: 599px;
  border-radius: 25px;
  background: #e6effa;
  position: relative;
  margin-top: 80px;
}
.user-card {
  display: inline-flex;
  padding: 50px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 25px;
  background: #fff;
  position: absolute;
}

.user-photo img {
  width: 114px;
  height: 114px;
  border-radius: 114px;
  border: 1px solid #e6effa;
  background: lightgray -74.691px 1.037px / 214.035% 298.365% no-repeat;
}

.user-info {
  width: 332px;
  height: 507px;
  margin-top: 24px;
}

.user-name p {
  color: #1c2b62;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 156px;
  height: 33px;
}

.user-role {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
  margin-top: 8px;
}

.user-role p {
  color: #1c2b62;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 67px;
  height: 27px;
}

.user-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.stat-item p {
  color: #1c2b62;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stat-item {
  width: 160px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.user-bio p {
  width: 332px;
  height: 162px;
  color: #1c2b62;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.show-more {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #c4cadf;
  width: 130px;
  height: 44px;
  margin-top: 28px;
}

.show-more a {
  color: #1c2b62;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
